{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'loginfor.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'header.css'%}"/>
</head>
<body>

        <div id="header">
                <nav>
                        <ul>
                                <li><a href="#">Account</a>
                                        <ul>
                                                <li>Register</li>
                                                <li>About Us</li>
                                        </ul>
                                </li>
                                <li><a href="#">About us</a>
                                        <ul>
                                        <li>Chairmen Desk</li>
                                        <li>Contact us</li>
                                        <li>Location</li>
                                        <li>Home</li>
                                        </ul>
                                </li>
                        </ul>
                </nav>
        </div>
        
        <div class="loginbox">
                <img src="{% static 'images/open.png'%}" class="open">
                <h1> Login Here</h1>
                <form action="login" method="POST">
                        {% csrf_token %}
                        <p>User Name</p>
                        <input type="text" name="username" placeholder="username">
                        <p>Password</p>
                        <input type="password" name="password" placeholder="password">
                        <input type="submit" name="" placeholder="login">
                        <a href="#">Lost Password</a><br>
                        <a href="register.html">Dont't Have an account</a><br>
                </form>
                

                {% for message in messages %}
                <h3>{{message}}</h3>
                {% endfor %}
        </div>
         
</body>
</html>